{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Home Page!</h1>
{% for post in posts %}
<div class="card mt-2">
    <div class="card-header"><strong>{{ post.author.username }}</strong></div>
    <div class="card-cody d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{ post.title }}</h5>
            <p>{{ post.description }}</p>
        </div>
        <div>
            {% if user == post.author or perms.main.delete_post %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" value="{{ post.id }}" name="post-id" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
            {% if user.is_staff %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" value="{{ post.author.id }}" name="user-id" class="btn btn-warning">Ban User</button>
            </form>
                {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ post.created_at }}
    </div>
</div>
{% empty %}
<p>No posts yet</p>
{% endfor %}
{% endblock %}